<div class="p-12 bg-slate-950 text-white rounded-sm">
  <h2 class="text-2xl mb-8">Password Generator</h2>

  <div class="flex flex-col gap-6">
    <div class="flex gap-2 flex-col">
      <label
        for="pass-length"
        class="uppercase text-xs text-slate-400 font-light"
        >Enter length</label
      >
      <input
        type="text"
        id="pass-length"
        (input)="onChangeLength(length.value)"
        #length
        class="text-slate-50 bg-slate-900 p-2"
      />
    </div>

    <div class="flex flex-col gap-2">
      <h2 class="uppercase text-xs text-slate-400 font-light">Settings</h2>

      <div class="bg-slate-900 p-2 flex justify-between rounded-sm">
        <label for="use-letters">Use letters</label>
        <input type="checkbox" id="use-letter" (change)="onChangeLetters()" />
      </div>

      <div class="bg-slate-900 p-2 flex justify-between rounded-sm">
        <label for="use-letters">Use numbers</label>
        <input
          type="checkbox"
          id="use-numbers"
          (change)="onChangeUseNumbers()"
        />
      </div>

      <div class="bg-slate-900 p-2 flex justify-between rounded-sm">
        <label for="use-symbols">Use symbols</label>
        <input
          type="checkbox"
          id="use-symbols"
          (change)="onChangeUseSymbols()"
        />
      </div>
    </div>

    <div class="flex py-4">
      <button
        type="button"
        class="rounded-sm uppercase text-sm grow px-4 py-2 disabled:bg-slate-900 disabled:text-slate-600 bg-slate-700 text-white"
        (click)="generatePassword()"
        [disabled]="!(length && (useLetters || useNumbers || useSymbols))"
      >
        Generate!
      </button>
    </div>

    <div class="flex gap-4 flex-col" *ngIf="password">
      <label
        for="password-output "
        class="uppercase text-xs text-slate-400 font-light"
        >Your password</label
      >

      <input
        type="text"
        id="password-output"
        [value]="password"
        class="text-slate-50 bg-slate-900 p-2"
      />
    </div>
  </div>
</div>
